html {
  background-color: #fef8ec;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fef8ec;
}
div {
  background-color: #fef8ec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-body {
  background-color: white;
}
.form-group {
  background-color: white;
}
.card-title {
  background-color: white;
}
.card-subtitle {
  background-color: white;
}
